@use 'block/reset' as *
@use 'block/vars' as *
/* Подключаем шрифты */
@use 'block/fonts' as *

/* Ниже подключаем отдельные файлы CSS по блокам и по подключаемым библиотекам */
@use 'block/header' as *
@use 'block/footer' as *

/* Основные стили */
footer
	color: #0704b6
	// font-size: $basefz
h1
	font-size: #{$basefz}
	font-weight: 900