body.page_404 {
  background: #00e7dc;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1.page_404 {
  /* font-family: "Nunito", sans-serif; */
  color: #fff;
  font-size: 50px;
  text-align: center;
  padding: 2em 0 0;
  opacity: 0;
}

svg.page_404 {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
