@use 'block/vars' as *
@use 'block/mixins' as *

.about__wrap
	.about__img
		video
			margin: 0 auto
			display: block
			max-width: 100%
			margin-bottom: 2rem

	.about__text
		position: relative
		padding-right: 1rem
		padding-left: 1rem
		cursor: default
		margin-bottom: 2rem
		h3, p
			margin-bottom: 1rem
			text-align: justify
		.about__text-bold
			font-weight: 700
			margin-bottom: .8rem
		ul li
			list-style: disc
			text-align: justify

@media (max-width: 600px)
	.about__wrap
		display: flex
		flex-direction: column
		gap: 3rem
		justify-content: center
		align-items: center

			