<section id="about" class="about section">
	<div class="container">
		<h2 class="section__title">
			О нас
		</h2>
		<div class="about__wrap">
			<div class="about__img">
				<img src="img/about1.jpg" alt="Прачечная ХЛОПОК">
			</div>
			<div class="about__text">
				<h3>Прачечные самообслуживания <strong>"ХЛОПОК"</strong> расположены в различных городах России в легко доступных локациях. </h3>
				<p>Как правило, это гипермаркеты и торгово-развлекательные центры, что позволяет эффективно потратить Ваше время с пользой, пока стираются Ваши вещи.</p>
				<p>Возникает вопрос: <strong>Зачем стираться в прачечной, если можно дома?</strong></p>
				<p>Скорее всего спрашивали вы себя до того, как впервые отнесли к нам свои вещи. Давайте расскажем подробнее.</p>
				<p>Чаще всего нам приносят крупногабаритные вещи, которые входят с трудом или не входят вовсе в домашнюю машину. В нашей машине, загрузкой до 15 кг, за один цикл можно постирать, например, 4-5 курток или 2 двуспальных пледа. Важно то, что после стирки вещи можно сразу посушить горячим воздухом в профессиональной сушильной машине.</p>
				<p>Услуга в среднем занимает ВСЕГО ОКОЛО ЧАСА - это идеальное время, чтобы успеть выбрать вкусняшки для вечернего просмотра фильма под любимым пледом.
				</p>
				<p>И вишенка на торте! Мы установили самую НИЗКУЮ ЦЕНУ в Вашем городе, чтобы вы могли постирать как можно больше любимых вещей.</p>
				<p class="about__text-bold">Еще немного преимуществ стирки у нас:</p>
				<ul>
					<li>Благодаря вместительным барабанам, технологиям работы машин и моющим средствам, которые мы используем, вещи получают все необходимое, чтобы их очищение было полноценным и качественным. А если есть предпочтения по химии, используемой при стирке, можете использовать свою. Например, кондиционер, ведь наш почти не имеет запаха и не испортит аромат, который вы захотите добавить в стирку.</li>
					<li>Все мы сталкивались с тем, как сложно хорошо отжать и высушить крупногабаритные вещи дома. Благодаря нашим машинам это можно сделать за считанные минуты. Обдув горячим воздухом удаляет большинство пыли и ворсинок, оставшихся после стирки, а также придает вещам объем, мягкость и эффект легкой глажки</li>
				</ul>
				<span></span>
			</div>

		</div>
	</div>
</section>