<section class="section benefits">
	<div class="container">
		<h2 class="service__title section__title animate__animated animate__lightSpeedInLeft">Наши преимущества</h2>
		<div class="benefits__content">
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto7.jpeg" alt="Постирать вещи дёшево">
				</div>
				<div class="benefits__item-content">
					<h3>Вместительные барабаны</h3>
					<p>Ёмкость барабана стиральной машины составляет от 147 литров, что позволяет за один цикл постирать 2 пледа, 3 пуховика</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto5.jpg" alt="Постирать мебельный чехол">
				</div>
				<div class="benefits__item-content">
					<h3>Сушка горячим воздухом</h3>
					<p>Поток горячего воздуха со скоростью 65 м3/час обеспечивает не только полное высыхание, но и эффект лёгкой глажки.</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto3.jpg" alt="Постирать наматрасник дёшево">
				</div>
				<div class="benefits__item-content">
					<h3>Интуитивная программа</h3>
					<p>Программа в терминале очень проста в использовании. С помощью последовательных шагов поможет Вам оплатить услугу и запустить оборудование даже без посторонней помощи!</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto2.jpg" alt="Постирать спецодежду дёшево">
				</div>
				<div class="benefits__item-content">
					<h3>Экономия времени</h3>
					<p>Вы можете получить постиранные и высушенные вещи в течение 60-90 минут. Нет необходимости ждать несколько дней!</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto4.jpg" alt="Постирать куртку дёшево">
				</div>
				<div class="benefits__item-content">
					<h3>Удобная локация</h3>
					<p>Наши прачечные находятся в крупных торговых комплексах и гипермаркетах. Вы можете заняться своими делами и покупками, пока стираются Ваши вещи.</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto8.jpeg" alt="Постирать вещи дёшево">
				</div>
				<div class="benefits__item-content">
					<h3>Низкая цена</h3>
					<p>Цена установлена не за кг., а за цикл стирки. Что загрузить в машину решаете только Вы. Цена от этого не изменится. Химия уже включена в стоимость и подаётся автоматически.</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto9.jpeg" alt="Постирать и высушить плед дёшево">
				</div>
				<div class="benefits__item-content">
					<h3>Работает оператор</h3>
					<p>Оператор всегда ответит на все Ваши вопросы. А также примет вещи и постирает сам, если Вы торопитесь.</p>
				</div>
			</div>
			<div class="benefits__content-item">
				<div class="benefits__item-img">
					<img src="img/foto6.jpg" alt="Постирать пуховик">
				</div>
				<div class="benefits__item-content">
					<h3>Режим работы</h3>
					<p>Наши прачечные работают по режиму работы ТРЦ и гипермаркетов. Многие из них круглосуточные!</p>
				</div>
			</div>
		</div>
	</div>
</section>