<section id="faq" class="section benefits">
	<div class="container">
		<h2 class="section__title">Частые вопросы</h2>
		<div class="tab__wrap">
			<div class="tab">
				<input type="radio" name="acc" id="acc1">
				<label for="acc1">
					<h3>01</h3>
					<h4>Прачечная самообслуживания, означает что я все должен делать сам?</h4>
				</label>
				<div class="tab__content">
					<p>
						Да. Вы приносите белье которое нужно постирать, определяетесь в какой машине его постирать, загружаете его в барабан, после окончания стирки самостоятельно выгружаете. При необходимости белье можно высушить в сушильном барабане, проделав аналогичные процедуры. Но у нас всегда присутствует администратор, который поможет и подскажет Вам в случае необходимости.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc2">
				<label for="acc2">
					<h3>02</h3>
					<h4>Когда и как мне выставить нужную программу стирки?</h4>
				</label>
				<div class="tab__content">
					<p>
						После того как вы загрузили белье в стиральную машину, с помощью кнопки управления на машинке, выбираете нужный режим стирки. После этого можно оплачивать услугу через специальный терминал и запускать стирку.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc3">
				<label for="acc3">
					<h3>03</h3>
					<h4>Мне нужно находиться в прачечной во время стирки?</h4>
				</label>
				<div class="tab__content">
					<p>
						По вашему желанию. Большинство наших клиентов предпочитают во время стирки заняться покупками в гипермаркете, а сушку уже дожидаются непосредственно в прачечной. Для вашего комфорта мы установили маленький уютный диван.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc4">
				<label for="acc4">
					<h3>04</h3>
					<h4>Можно оставить вещи для стирки и забрать их через несколько часов \ дней?</h4>
				</label>
				<div class="tab__content">
					<p>
						Да, такая возможность присутствует, если Вы придёте в часы работы оператора. Она примет Ваши вещи и по факту готовности сообщит Вам. Вы можете их забрать в удобное для Вас время, также в часы работы оператора.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc5">
				<label for="acc5">
					<h3>05</h3>
					<h4>​Как долго мне ждать окончание стирки\сушки?</h4>
				</label>
				<div class="tab__content">
					<p>
						Время стирки 40 – 45 минут. Время сушки 10 - 30 минут, зависит от плотности и свойств ткани.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc6">
				<label for="acc6">
					<h3>06</h3>
					<h4>У вас указана цена стирки до 15 кг, а я загрузил одно одеяло, которое точно весит меньше, сколько будет стоить стирка?</h4>
				</label>
				<div class="tab__content">
					<p>
						Вы оплачиваете за стирку одной машины, а загрузили ли вы в нее один носок или двуспальный плед, цена услуги останется неизменной. Поэтому, для вашей выгоды, используйте загрузку по максимуму. В одну машину можно загрузить, например, 3 пуховика или 2 полутораспальных пледа одновременно.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc7">
				<label for="acc7">
					<h3>07</h3>
					<h4>​У вас указано что загрузка до 15 кг, я положил двуспальный плед и машинка уже полная! Не влезет туда 15 кг, в чем подвох?</h4>
				</label>
				<div class="tab__content">
					<p>
						В стиральных машинках указывается максимальная загрузка белья из хлопка. Хлопок принят за эквивалент не случайно, так как является наиболее плотным материалом. любой другой материал скорее всего будет легче и его в барабан вместится меньше. Загружайте сколько вместится в барабан и оставьте немного места для воды для наилучшего качества стирки.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc8">
				<label for="acc8">
					<h3>08</h3>
					<h4>Мне нужно покупать отдельно моющие средства?</h4>
				</label>
				<div class="tab__content">
					<p>
						Такой необходимости нет. В стоимость услуг уже включены профессиональные моющие средства, которые, при всех прочих равных условиях, дают наилучший результат, по сравнению с бытовыми.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc9">
				<label for="acc9">
					<h3>09</h3>
					<h4> ​Какие моющие средства вы используете, наверное самые дешевые?</h4>
				</label>
				<div class="tab__content">
					<p>
						В качестве моющих средств используется профессиональная многокомпонентная химия, соответствующая всем европейским стандартам и сертифицированная в России. Эта химия является гипоаллергенной, и по многим качествам превосходит бытовую, доступную в рознице.
					</p>
				</div>
			</div>
			<div class="tab">
				<input type="radio" name="acc" id="acc10">
				<label for="acc10">
					<h3>10</h3>
					<h4>Мое белье точно полностью высохнет в сушильном барабане?</h4>
				</label>
				<div class="tab__content">
					<p>
						Все зависит от типа белья, его количества и оплаченного времени сушки. К примеру, если Вы постирали два полутороспальных пледа в одной машине, для достижения лучшего результата рекомендуется сушить их отдельно, оплатив вдвое меньшее время. Так вы получите гарантированно сухие вещи и сэкономите свое время без лишних трат. Если станете регулярным посетителем нашей прачечной, то со временем, Вы определите самый оптимальный для себя способ обработки любимых вещей на нашем оборудовании. 
						Если за один цикл сушки белье не высохло полностью, то вы сами принимаете решение, провести еще один цикл сушки или досушить дома.
					</p>
				</div>
			</div>
			<!-- <div class="tab">
				<input type="radio" name="acc" id="acc1">
				<label for="acc1">
					<h3>01</h3>
					<h4>Прачечная самообслуживания, означает что я все должен делать сам?</h4>
				</label>
				<div class="tab__content">
					<p>
						Да. Вы приносите белье которое нужно постирать, определяетесь в какой машине его постирать, загружаете его в барабан, после окончания стирки самостоятельно выгружаете. При необходимости белье можно высушить в сушильном барабане, проделав аналогичные процедуры. Но у нас всегда присутствует администратор, который поможет и подскажет Вам в случае необходимости.
					</p>
				</div>
			</div> -->
	
		</div>
		
	</div>
</section>