<section class="section service">
	<div class="container">
		<h2 class="service__title section__title animate__animated animate__lightSpeedInRight">Наши услуги</h2>

		<div class="service__wrap">
			<div class="service__content-item">
				<h3 class="service__stirka-title">Стирка</h3>
				<div class="service__item-img">
					<img src="img/washer.jpg" alt="Стирка в прачечной Хлопок">
				</div>
				<p class="service__item-desc">Стирка одной загрузки сухого белья весом до 15 кг. на профессиональной стиральной машине Electrolux или SimpleClean. Средство для стирки включено в стоимость. Доступно 5 программ стирки на выбор. Стоимость устанавливается за цикл стирки. Что стирать и в каком объёме, вы решаете сами!</p>
			</div>
			<div class="service__content-item">
				<h3 class="service__sushka-title">Сушка</h3>
				<div class="service__item-img">
					<img src="img/dryer.jpg" alt="Сушка в прачечной Хлопок">
				</div>
				<p class="service__item-desc">Сушка белья в профессиональной машине, которая за счет быстрого прохождения потока горячего воздуха со скоростью 650 м3/час не только высушивает, но и выдувает пыль и ворсинки, оставшиеся после стирки. Так же сушка горячим воздухом придает изделию объем, мягкость и эффект легкой глажки. Стоимость устанавливается за цикл длительностью 10 минут. Сколько сушить по времени Вы решаете сами!</p>
			</div>
		</div>
	</div>
</section>