<section class="section stirka">
	<div class="container">
		<h2 class="section__title animate__animated animate__lightSpeedInLeft">
			Что можно у нас постирать и высушить?
		</h2>
		<div class="stirka-wrap">
			<div class="stirka__drop">
				<div class="stirka__drop-img">
					<img src="img/pled.png" alt="Стирка и сушка пледов">
				</div>
				<h3 class="stirka__drop-title">
					Пледы и покрывала
				</h3>
				<!-- <p class="stirka__drop-text">

				</p> -->
			</div>
			<div class="stirka__drop">
				<div class="stirka__drop-img">
					<img src="img/puhovik.png" alt="Стирка и сушка пуховиков и курток">
				</div>
				<h3 class="stirka__drop-title">
					Пуховики и куртки
				</h3>
				<!-- <p class="stirka__drop-text">

				</p> -->
			</div>
			<div class="stirka__drop">
				<div class="stirka__drop-img">
					<img src="img/odeyalo.png" alt="Стирка и сушка постельного белья">
				</div>
				<h3 class="stirka__drop-title">
					Одеяла и постельное бельё
				</h3>
				<!-- <p class="stirka__drop-text">

				</p> -->
			</div>
			<div class="stirka__drop">
				<div class="stirka__drop-img">
					<img src="img/podushki.png" alt="Стирка и сушка подушек">
				</div>
				<h3 class="stirka__drop-title">
					Подушки
				</h3>
				<!-- <p class="stirka__drop-text">

				</p> -->
			</div>
			<div class="stirka__drop">
				<div class="stirka__drop-img">
					<img src="img/mebel.png" alt="Стирка и сушка мебельных чехлов">
				</div>
				<h3 class="stirka__drop-title">
					Мебельные чехлы
				</h3>
				<!-- <p class="stirka__drop-text">

				</p> -->
			</div>
			<div class="stirka__drop">
				<div class="stirka__drop-img">
					<img src="img/toys.png" alt="Стирка и сушка мягких игрушек">
				</div>
				<h3 class="stirka__drop-title">
					Мягкие игрушки
				</h3>
				<!-- <p class="stirka__drop-text">

				</p> -->
			</div>
		</div>
		<div class="subtitle">Можно ли стирать вещь и на каком режиме решаете только Вы!</div>
	</div>
</section>